@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body{
  font-family: 'Noto Sans TC', sans-serif;
}

button {
    margin: 20px;
    border: none;
    border-radius: 6px;
    box-shadow: 8px 5px 5px gray;
    width: 150px;
    height: 60px;
    background-color: bisque;
    font-size: 30px;
    font-weight: bold;

}

label {
  background-color:rgb(255, 157, 127);
  border-radius: 6px;
  padding: 25px 40px;
  margin: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 40px;
}

.output {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 40px;
  margin: auto;
  font-size: 30px;
  font-weight: bolder;
  border: none;
  background-color: rgb(30, 168, 210);
}

.plytxt {
  font-size: 30px;
  font-weight: bold;
  padding-left: 350px; 
}
